<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950095608082-8tpfo6v9obk47onv7oq9agf1r2ka2qh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950095608082-8tpfo6v9obk47onv7oq9agf1r2ka2qh3</string>
	<key>API_KEY</key>
	<string>AIzaSyADieSGHzXL4s6l0xkwBvpkQoYCBOsLRd8</string>
	<key>GCM_SENDER_ID</key>
	<string>950095608082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pramishluitel.HealthCare</string>
	<key>PROJECT_ID</key>
	<string>healthcare-af824</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-af824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950095608082:ios:df9f34b6dde95457</string>
	<key>DATABASE_URL</key>
	<string>https://healthcare-af824.firebaseio.com</string>
</dict>
</plist>